body {
  background-image: url("./images/rock-paper-scissors-background.jpeg");
  background-position: top;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 175px;
}

.button-container {
  display: flex;
  margin-top: 250px;
  gap: 125px;
}

button {
  background: none;
  border: 5px solid black;
  border-radius: 15px;
  box-shadow: 0 0 25px 1px white;
  padding: 40px;
  background: rgba(45, 44, 44, 0.5);
}

button img {
  width: 150px;
  height: 150px;
  filter: invert(100%);
}

button:hover {
  box-shadow: 0 0 20px 10px white;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
}

button#scissors {
  rotate: 90deg;
  transform: scaleY(-1);
}

.results-display {
  text-align: center;
  color: white;
}